# Byte-compiled files
__pycache__/
*.py[cod]

# Environment files
.env
.venv/

# Logs
*.log

# Dependencies
bptf/

# Other folders
cache/

# Other files
comparing_3_datasets_2015_2019.pdf

# Cache files
sptensor.pkl
bptf_5mode.pkl
nntf_parafac_5mode.pkl
